<html>
  <head>
    <title>Stock market charts</title>
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {{ plot_script|indent(4)|safe }}

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="jumbotron text-center">
    <h1>Chart for Facebook stock</h1>
    <p>The chart shows the stock development of Facebook. </p>
  </div>
 <div class="container">
     <div class="row">
         <div class="col-sm-8">
             {{ plot_div | safe }}
         </div>
         <div class="col-sm-4">
             <form name="charts_button" method='GET'>

                 <div class="form-group">
                     <label for="chart">Select list:</label>
                     <select class="form-control" id="chart" name="chart">
                         <option value="1" {{
                         "selected" if chart|safe == "1" }}>Open</option>
                         <option value="2" {{
                         "selected" if chart|safe == "2" }}>High</option>
                         <option value="3" {{
                         "selected" if chart|safe == "3" }}>Low</option>
                         <option value="4" {{
                         "selected" if chart|safe == "4" }}>Close</option>
                     </select>
                 </div>

                 <button class="btn btn-lg btn-success">Plot</button>
             </form>
         </div>

      </div>
  </body>
</html>